# Dipendenze
node_modules/
package-lock.json
yarn.lock

# Build e Dist
dist/
build/

# CodeCorn Staging & Backup
_FREEZE/
_STASH/
_PREV/
_DEV/
_SHIT/

# OS e Logs
.DS_Store
*.log
*.zip
*.tar.gz

# Ambiente
.env
.env.local
secrets/